@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

canvas {
  position: relative;
  display: block;
  height: 400px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  margin: 0 auto;
  margin-top: 1em;
  background-color: rgba(0,0,0,0.2);
}

.muted-center {
  text-align: center;
  opacity: 0.75;
  font-size: 0.75em;
}

#palette {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;

  .swatch {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    animation: 'swatch-in' 0.4s;
    border: 2px solid white;
    cursor: pointer;

    &.active {
      border: 2px solid black;
    }

    &:hover:after {
      content: attr(data-note);;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      color: white;
      background-color: rgba(0,0,0,0.5);
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
}

#notation {
  display: flex;
  justify-content: center;
}

.play-container {
  text-align: center;
  margin-bottom: 0.5em;

  button {
    background: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.75em;

    &:hover {
      background: rgba(0,0,0,0.2);
    }
  }
}

.bottom-text {
  text-align: center;
  font-size: 0.5em;

  a {
    color: inherit;

    &:hover {
      color: rgb(115, 0, 255);
    }
  }
}

@keyframes swatch-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
